<%- include('/particle/header.ejs') %>
    <h1>Контакты</h1>
    <h2>Телефон</h2>
    <ul>
        <li>+7 (978) 783-08-70</li>
        <li>+7 (978) 763-61-46</li>
    </ul>
    <h2>ВКонтакте</h2>
    <ul>
        <li><a href="https://vk.com/fantasylr">Сообщество</a></li>
        <li><a href="https://vk.com/dani.motrenko">Администратор сообщества</a></li>
    </ul>
<%- include('/particle/footer.ejs') %>