<%- include('../particle/header.ejs') %>        
        <br class="brs">
        <div class="newstype">
            <a href="news-post" class="activepost">Новости</a>
            <a href="news-video">Видео</a>
        </div>
        <div class="vkpost">
          <div id="vk_post_-189433811_3158"></div>
          <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
          <script type="text/javascript">
            (function() {
              VK.Widgets.Post("vk_post_-189433811_3158", -189433811, 3158, 'pnMH5yPOH4Lpk0Th8OEnuUCx3jon');
            }());
          </script>
        </div>
        <div class="vkpost2x">
            <div id="vk_post_-189433811_3133"></div>
            <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
            <script type="text/javascript">
              (function() {
                VK.Widgets.Post("vk_post_-189433811_3133", -189433811, 3133, 'zq286PAHsc6wIF31sWQV-6aNF2Ce');
              }());
            </script>
        </div>
        
        <div class="vkpost2x">
            <div id="vk_post_-189433811_3126"></div>
            <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
            <script type="text/javascript">
            (function() {
                VK.Widgets.Post("vk_post_-189433811_3126", -189433811, 3126, '_PQixOoc72H2OcRt1mPpM-PZdL9t');
            }());
            </script>
            </div>
            <%- include('../particle/footer.ejs') %>    