<%- include('../particle/header.ejs') %>                
        <br class="brs">
        <div class="newstype">
            <a href="news-post">Новости</a>
            <a href="news-video" class="activepost">Видео</a>
        </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kmXrjWYCzqI?start=53" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <%- include('../particle/footer.ejs') %>    
